.menu {
	padding: 0.33em;
	font-family: "URW Gothic L", "Century Gothic", sans-serif;
	text-align: left;	
	background-color: #eeeeee;
}
.menusection {
	list-style-type:    none; 
	font-weight:        normal;
	margin-left: 0.2em;
	margin-right: 1em;
	margin-top: 0.6em;
	margin-bottom:0em;
	padding-left:      0em;
/*	line-height:       0.5; */
}
/*.menuitem {
	padding-top:		  0em;
	list-style-type:    none;
	font-weight:		  normal;
	margin-right:      1em;
	margin-left:       0em;
	padding-left:      0em;
	line-height:       1.25;
}*/
ul {
	padding-left: 1.5em;
}
ol {
	padding-left: 1.5em;
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: lower-roman;
}
ol ol ol ol {
	list-style-type: lower-greek;
}
ol ol ol ol ol {
	list-style-type: cjk-ideographic;
}
ol ol ol ol ol ol{
	list-style-type: georgian;
}
ol ol ol ol ol ol ol{
	list-style-type: hebrew;
}
ol ol ol ol ol ol ol ol {
	list-style-type: armenian;
}
img {
	border: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.menuitem { 
	font-family: "URW Gothic L", "Century Gothic", sans-serif;
	font-size: 1.4em;
	color: black;
	
}
a.menuitem:hover { 
	color: blue;
	text-decoration: none;
}
body {
	font-family: "URW Gothic L", "Century Gothic", sans-serif;  
/*	font-family: sans-serif;*/
/*	font-family: "URW Gothic L", sans-serif; */
	padding: 0px;
	margin: 0px;
}
.version {
   position: relative;
   top: 2em;
   right: 0%;
   width: 100%;
   padding: .33em;

}
.editbutton {
	position: absolute;
	text-align: center;
	left: 90%;
	width: 10%;
	background-color: #ccccff;
}
.editbox {
	position: relative;
	margin: 1em;
	width: 95%;
}
.editsubmit {
	margin-top: 0em;
	margin-left: 1.5em;
}
.titlebar {
	position: relative;
/*	height: 3.25em; */
	width:  100%;
	background-color: #dddddd;
/*	padding-top: 0.25em;
	padding-left: 0.5em; 
	padding-bottom: 0.25em;
	margin-top: 0em;
	margin-left: 0em; */
}
.pagename {
	font-weight: normal;
	font-size: 1.75em;
	color:  #444488;
	position: relative;
	text-align: left;	
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.3em;
	margin-top: 0em;
	margin-left: 0em;
}

.mainbar {
	position: relative;
	color: black;
/*	left: 20%;
	width: 80%;  */
}
.padding {
	position: relative;
	height: 50em;
}
h1 {
   font-weight: normal; 
	font-size: 2em;
}

h2{
   font-weight: normal;   
   font-size: 1.5em;
}

table.tbl {
	border-style: none;
}

td.tbl, th.tbl {
        border-style: none;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px;
}

/*table.tbl {
	border = 0em; 
	margin = 0em;
	padding = 0em;
}*/
table { 
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px;
	border-style:solid;
}
td, th {
	border-style:solid;
	border-width: 1px;
	border-spacing: 0;
/*	border-width: 1px 1px 0 0;
	border-spacing: 0;
	border: solid;
	margin: 0; */
	padding: 4px;
}
th {
	border-left-style: none;
	border-right-style: none;
}
p { 
/* 	margin-left: 30pt; */
	font-family: sans-serif; 
}
.bodytext {
	/*font-family: "URW Gothic L", "Century Gothic", sans-serif; */
/*	font-family: "URW Gothic L", sans-serif; */
/*	font-family: sans-serif;  */
	margin: 1.5em;
/*	margin: 1.5em; */
}
.sidebar {
	text-align: left;
/*	position: absolute;  */
	padding: 0em;
	margin: 0em;
	left: 0%;
	border-style: none;
	width: 1%;
/*	width: 20%; */
}

